extends layout

block content
  .search-result
    each item in data.results
      a.search-result-item(href='#{item.link}')
        img.search-result-item__preview(src='#{item.preview}', alt='')
        .search-result-item__info.info
          .info__author
            img.info__avatar(src='#{item.user.avatar}', alt='')
            | #{item.user.name}
          .info__likes
            span.info__views #{item.views}
            span.info__comments #{item.comments}
            span.info__likes #{item.likes}
